<a asp-controller="ResourceM" asp-action="SkillUp">
    Skill Updation
</a>
<br />
<a asp-controller="ProjectM" asp-action="ProjRequirement">
    Project Requirements
</a>
<br />
<a asp-controller="ResourceM" asp-action="SkillUp">
    Skill Mapping
</a>
