<a asp-controller="Employee" asp-action="AddEmployee">
    User Creation
</a>
@*<a>
    <input type="radio" value="Skills Updation" />
</a>
<a>
    <input type="radio" value="Project Requirement Additiom" />
</a>
<a>
    <input type="radio" value="Skill Mapping" />
</a>*@